In [7]:
## converting the data type one into another one
ints= 5
type(str(ints))

# trues= "3 is bigger than 5"
# type(bool(trues))

str

In [14]:
x= [1,2,3,4,5,6,7,8,9]
for i in x:
    print("square of {} is {}".format(i,i*i))
#     print("square of {.3f%} is {}".format(i,i*2.785964)) -- google it for syntax error !!

square of 1 is 1
square of 2 is 4
square of 3 is 9
square of 4 is 16
square of 5 is 25
square of 6 is 36
square of 7 is 49
square of 8 is 64
square of 9 is 81

In [17]:
x= [1,2,3,4,5,6,7,8,9]
for i, v in enumerate(x):
     print("square of {} is {}".format(i,v))

square of 0 is 1
square of 1 is 2
square of 2 is 3
square of 3 is 4
square of 4 is 5
square of 5 is 6
square of 6 is 7
square of 7 is 8
square of 8 is 9

In [34]:
import pandas as pd
import seaborn

In [35]:
data = seaborn.load_dataset("iris") ## this data set is already existed in seaborn library, thats why we use directly load function here.
data1= pd.read_csv("iris.csv") ## if we import data from file, just use read function in pandas library. most common one is "read_csv()".

In [21]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [22]:
data.shape ## attribute, its not  method

(150, 5)

In [23]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [25]:
print(type(data['sepal_length'])) ## if we put 1 bracet make data type is series
type(data[['sepal_length']]) ## 2 bracet make data type is dataframe,

<class 'pandas.core.series.Series'>

pandas.core.frame.DataFrame

In [26]:
data.columns  ## coumns is attribute, not a method

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [31]:
## if we want to get mean, mode, sum, median func, we need numpy for list

import numpy as np

a= [1,2,3,4,5,6,]

np.mean(a)

3.5

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [33]:
data.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [45]:
## python oops consept, you have to use "def  __init__:" init definition method first
## if we want to use variable as parameter for another method. because of python is not compiling language.

In [46]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [53]:
# Species == 'Iris-setosa'

sum_data_sentosa = data.loc[data['species'] == 'setosa', 'sepal_length'].sum() 
mean_data_sentosa = data.loc[data['species'] == 'setosa', 'sepal_length'].mean() 
median_data_sentosa = data.loc[data['species'] == 'setosa', 'sepal_length'].median() 
mode_data_sentosa = data.loc[data['species'] == 'setosa', 'sepal_length'].mode() 

mode_data_sentosa1 = data1.loc[data1['species'] == 'versicolor', 'petal_width'].mode() 
print("\nMode1:", mode_data_sentosa1)  
print("Sum:",sum_data_sentosa, "\nMean:", mean_data_sentosa, "\nMedian:",median_data_sentosa, "\nMode:",mode_data_sentosa) 


## if we want to select row, and column by number, we have to use "iloc" function because iloc selecting data by index like below;

sum_data_sentosa = data.iloc[1:4, 3:4].sum() 
print ("\n", sum_data_sentosa )

mean_data_sentosa = data.iloc[1:2,2:4].mean() 
print ("\n", mean_data_sentosa )

median_data_sentosa = data.iloc[:, 1:3].median() 
print ("\n", median_data_sentosa )

mode_data_sentosa = data.iloc[1:, :3].mode() 
print ("\n", mode_data_sentosa )

sum1_data_sentosa = data.iloc[1:, :3].sum() 
print ("\n", sum1_data_sentosa )

Mode1: 0    1.3
dtype: float64
Sum: 250.3
Mean: 5.005999999999999
Median: 5.0
Mode: 0    5.0
1    5.1
dtype: float64

 petal_width    0.6
dtype: float64

 petal_length    1.4
petal_width     0.2
dtype: float64

 sepal_width     3.00
petal_length    4.35
dtype: float64

    sepal_length  sepal_width  petal_length
0           5.0          3.0           1.5

 sepal_length    871.4
sepal_width     455.1
petal_length    562.3
dtype: float64