#### Data types

In [1]:
#float
float('100.0')

100.0

In [2]:
#int
int('100.0')

ValueError: invalid literal for int() with base 10: '100.0'

In [3]:
int('100')

100

In [6]:
#bool
print(bool(0))
print(bool(1))

False
True

In [7]:
# string
s = "greatlearning"
s[5:]

'learning'

In [8]:
s[::-1]

'gninraeltaerg'

In [6]:
# lists
list1 = ['hello', 1, 4, 5, "world"]
print(list1)
list1 + [5]

['hello', 1, 4, 5, 'world']

['hello', 1, 4, 5, 'world', 5]

In [9]:
t1 = (2, 3,45,4)
print(t1)
t1 + (4)

(2, 3, 45, 4)

TypeError: can only concatenate tuple (not "int") to tuple

In [10]:
t2=(4,5,6)
t1+t2

(2, 3, 45, 4, 4, 5, 6)

In [11]:
#dictionary
a = {"saturday":"greatlearning", "monday":"work"}
a.keys()

dict_keys(['saturday', 'monday'])

In [12]:
# sets
s1 = set([3,4,4,4,5,6])
s2 = set([4,5,3,3,3,3,4])

In [13]:
s1

{3, 4, 5, 6}

In [14]:
s1 | s2

{3, 4, 5, 6}

In [15]:
s1 & s2

{3, 4, 5}

In [19]:
a = [1,2,3]
a[0]

1

In [17]:
b = a
b[0] = 20
print(a)

[20, 2, 3]

In [20]:
c = a[:]
c[0] = 20
print(a)
print(c)

[1, 2, 3]
[20, 2, 3]

In [21]:
d = list(a)
d[0] = 20
print(a)
print(d)

[1, 2, 3]
[20, 2, 3]

#### Numpy

In [22]:
import numpy as np

In [ ]:
l1 = []
for x in range(10):
    l1.append(x*2)

In [ ]:
#list comprehension

In [23]:
%%timeit
l1 = [x*2 for x in range(10000)]

1.36 ms ± 108 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [24]:
arr = np.array([x for x in range(10000)])

In [25]:
%%timeit
arr2 = arr*2

9.92 µs ± 349 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

##### broadcasting

In [28]:
v1 = [1, 3, 4]
print(type(v1))
v1 + 5

<class 'list'>

TypeError: can only concatenate list (not "int") to list

In [29]:
np.array([1,2,3]) + 2

array([3, 4, 5])

In [30]:
list1 = [4,5,6,7]
list2 = [1,2,3,4]

In [31]:
for i in zip(list1,list2):
    print(i)

(4, 1)
(5, 2)
(6, 3)
(7, 4)

In [32]:
multiplied = []
for item in zip(list1,list2):
    tmp_prod = item[0] * item[1]
    multiplied.append(tmp_prod)
print(multiplied)

[4, 10, 18, 28]

In [33]:
list1 = np.array([4,5,6,7])
list2 = np.array([1,2,3,4])
np.multiply(list1, list2)

array([ 4, 10, 18, 28])

In [34]:
mat = np.matrix([[1,2,1],[4,5,6],[3,4,5]])
vec = np.array([1,2,3])
np.matmul(mat, vec)

matrix([[ 8, 32, 26]])

In [ ]:
#invmat = np.array([[0.5, 0.18518519, -0.24074074],
#                  [0.5, -0.14814815, 0.09259259],
#                  [-0.5, 0.11111111, 0.05555556]])
#print(invmat)

In [ ]:
#np.linalg.inv(invmat)
#np.linalg.inv(np.linalg.inv(invmat))

In [35]:
arr = np.arange(12).reshape(3,4)
print(arr)
col_vector = np.array([5,6,7])
print(col_vector)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[5 6 7]

In [36]:
num_cols = arr.shape[1]

for col in range(num_cols):
    arr[:, col] += col_vector

In [37]:
arr

array([[ 5,  6,  7,  8],
       [10, 11, 12, 13],
       [15, 16, 17, 18]])

In [38]:
arr.strides

(32, 8)

In [ ]:
# broadcasting
arr = np.arange(12).reshape(3,4)
add_matrix = np.array([col_vector,] * num_cols).T

arr += add_matrix

In [ ]:
np.zeros([3,4,5]) + np.ones([1,4,5])

In [ ]:
np.ones([2,4,4]) + np.ones([4,])