# INTRO TO VARIABLE EXERCISE

---------------------

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [1]:
a = 10
b = 5.1
add = a + b
print("a + b =", add)
type(add)

a + b = 15.1

float

### 2. Is 5 == (3+2)?

In [2]:
5 == (3 + 2)

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [3]:
a = 3
print(a + (33))

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [4]:
a = 3
a = float(a)
type(a)

float

### 5. What will be 5 times *a* if the value of a is 10?

In [5]:
a = 10 # assign variable a to literal 3
print('Five times a is', 5*a)

Five times a is 50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [6]:
area= 0.5*10*5
print("Area of triangle:",area)

Area of triangle: 25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If 

v = 10

w = 25

x = 70

y = 2

In [7]:
v = 10
w = 25
x = 70
y = 2
z = (v + w) * (x / y)
print(z)

1225.0

### 8. Swap values of *a* and *b* 
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [8]:
a = 10 
b = 5
print("A and B before swapping {},{}".format(a,b))
temp = a #create a third variable and assign the value of a to it
a = b #assign the value of b to a
b = temp #value of a is in third variable so assign the value to b
print("A and B after swapping {},{}".format(a,b))

A and B before swapping 10,5
A and B after swapping 5,10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [9]:
celsius = 35
fah = 1.8 * celsius + 32
print("Temperature in Fahrenheit =", fah)

Temperature in Fahrenheit = 95.0

-------------